<!-- views/idex.ejs -->
<!doctype html>
<html>
<head>
	<title> Blabber Bin Authentication </title>
	<style>
		body { padding-top:80px }
	</style>
</head>
<body>
<h1> Node Authentication </h1>
<p> Login or register </p>
<a href="/login"> Local Login </a>
<a href="/signup"> Local Signup </a>
<p> Login or register with facebook </p>
<a href='/auth/facebook'> Facebook </a>
</body>
</html>
