<!-- views/signup.ejs -->
<!doctype html>
<html>
<head> 
	<title> BlabberBin Signup </title>
</head>
<body>
h1> Signup </h1>
<% if(message.length > 0) {%>
	<%= message %><%} %>

<form action="/signup" method="post">
<label> Email </label>
<input type='text'name="email">
<label> Password </label>
<input type="password" name="password">
<button type="submit"> Signup </button>
</form>

<hr>

<p> Already have an account <a href="/login"> Login </a> </p>

</body>
</html>
